@import url("./Landing.css");

:root {
  --dark: #715c54;
  --cream: #f5f1e9;
  --complete: #354449;
}
.aboutBeigeBackgd {
  height: 150vh;
  background-color: var(--cream);
}
.aboutContainer {
  height: 150vh;
  display: flex;
  color: var(--complete);
}
.aboutWords {
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-content: center; */
  flex-direction: column;
  width: 50%;
  /* might need ot get rid of positionn and margin depending on how much context I put in here */
}
.aboutBio {
  font-size: 30px;
  text-align: center;
  font-family: "Loura";
}
.pageTitle {
  font-family: "Liber";
  font-size: 500%;
  color: var(--dark);
}

.aboutSubTitle {
  font-family: "Loura";
  font-size: 30px;
  color: var(--dark);
}
.aboutContext {
  width: 80%;
}
.listElement {
  left: 15%;
  position: relative;
  list-style-type: georgian;
}
button {
  background-color: #d4dde0;
  color: #4d6879;
  font-size: 25px;
  padding: 10px;
  border-color: #d4dde0;
  border-radius: 30px;
  font-family: "Bigthoven";
}
