@import "./fonts/fonts.css";

:root {
  --dark: #715c54;
  --cream: #f5f1e9;
  --complete: #354449;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.beigeBackgd {
  height: 100vh;
  background-color: rgb(251, 251, 251);
}
.landingContainer {
  height: 100vh;
  display: flex;
  color: var(--absent);
  justify-content: space-around;
  align-items: flex-end;
}
.introContainer {
  display: flex;
  padding-bottom: 20%;
  flex-direction: column;
  width: 25%;
}
.linkContainer {
  padding-bottom: 10%;
}
.linkLanding {
  text-decoration: none;
}
.landingLink:hover {
  transition-duration: 500ms;
  text-decoration: underline;
}
.landingLink {
  color: var(--absent);
  font-size: 600%;
  font-family: "Loura";
}
