@font-face {
  font-family: "Migha";
  src: url(fonts/MighaBlacksemiexpandedcntr-51x2B.otf);
}
@font-face {
  font-family: "Bigthoven";
  src: url(fonts/Bigthoven-owK5z.otf);
}
@font-face {
  font-family: "Antic";
  src: url(fonts/AnticDidone-Regular.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --dark: #715c54;
  --cream: #f5f1e9;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.beigeBackgd {
  height: 100vh;
  background-color: var(--cream);
}
.landingContainer {
  height: 100vh;
  display: flex;
  color: var(--dark);
  justify-content: space-around;
  align-items: flex-end;
}
.introContainer {
  display: flex;
  padding-bottom: 20%;
  flex-direction: column;
  width: 25%;
}
.linkContainer {
  padding-bottom: 10%;
}
.linkLanding {
  text-decoration: none;
}
.landingLink:hover {
  transition-duration: 500ms;
  transform: skewX(20deg);
}
.landingLink {
  color: var(--dark);
  font-size: 600%;
  font-family: "Bigthoven";
}
