@import url("./Landing.css");
:root {
  --med: #b97a63;
}
.nav {
  display: flex;
  height: 100vh;
  margin-left: 3%;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}
.innerNav {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
}
.line {
  width: 1px;
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 80px;
}
.navLink {
  color: var(--med);
  font-weight: 400;
  font-size: 15px;
  /* transform: rotate(-90deg); */
}
.leftlink {
  padding: 5px;
  color: var(--med);
  text-decoration: none;
}
.leftlink:hover {
  text-decoration: line-through;
}
