.project01LandingBeigeBkgrd {
  height: 300vh;
  background-color: var(--cream);
}
.project04LandingBeigeBkgrd {
  height: 300vh;
  background-color: var(--cream);
}
.ProjectContainer {
  height: 150vh;
  display: flex;
  flex-wrap: wrap;
  color: var(--complete);
}
.projectTitle {
  display: flex;
  justify-content: center;
  font-family: "Loura";
  font-size: 400%;
  color: var(--dark);
  position: relative;
  padding-top: 10%;
}
.projectShortBlurb {
  font-size: 160%;
  text-align: center;
  font-family: "L";
}
.linksToProjectContainer {
  display: flex;
  justify-content: center;
}
.linksToProject {
  font-size: 20px;
  text-decoration: none;
  color: var(--complete);
  margin: 30px 100px 0 100px;
  font-weight: 800;
}
.linksToProject:hover {
  transition: ease-in-out;
  transition-duration: 2s;
  text-decoration: line-through;
}
.projectSubTitle {
  font-size: 35px;
  color: var(--med);
  font-weight: 1400;
  font-family: "Woman";
}
.projectDescription {
  width: 95%;
  font-weight: 600;
  line-height: 200%;
  font-size: 20px;
  text-align: center;
  margin: 5px 0 5px 0;
}
.projectButton {
  display: flex;
  justify-content: center;
}
.project01BigImage {
  left: 20%;
  margin: 2%;
  width: 300px;
  height: 400px;
  display: flex;
  position: relative;
}
.project01SmallImage01 {
  left: 10%;
  margin-top: 2%;
  width: 300px;
  height: 400px;
  display: flex;
  position: relative;
}
.project01SmallImage02 {
  left: 40%;
  /* margin-top: 2%; */
  width: 300px;
  height: 400px;
  bottom: 10%;
  z-index: 2;
  display: flex;
  position: relative;
}
.comingSoonBkgrd {
  height: 100vh;
  background-color: var(--cream);
}
.comingContainer {
  height: 100vh;
  display: flex;
  color: var(--complete);
}
.comingSoon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 30%;
}
@media screen and (max-width: 1200px) {
  .project01LandingBeigeBkgrd {
    height: 340vh;
  }
  .outsideContianer {
    position: relative;
    top: -50%;
  }
}
@media screen and (max-width: 550px) {
  .outsideContianer {
    top: 0;
  }
  .nav {
    height: 23vh;
  }
  .project01BigImage {
    transform: scale(0.6);
    left: 0;
  }
  .projectShortBlurb {
    width: 90%;
  }
  .projectDescription {
    font-size: 17px;
    width: 90%;
  }
  .project01SmallImage01 {
    transform: scale(0.7);
  }
  .project01SmallImage02 {
    transform: scale(0.7);
    left: 10%;
    bottom: 4%;
  }
  .project01LandingBeigeBkgrd {
    height: 360vh;
  }
}
