:root {
  --dark: #715c54;
  --cream: #f5f1e9;
  --med: #b97a63;
  --complete: #263134;
}
.workContainer {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  color: var(--complete);
  justify-content: space-around;
  align-items: flex-end;
}
.workTextContainer {
  width: 30%;
  margin-bottom: 10%;
}
.projectContainer {
  margin-bottom: 5%;
  flex-direction: column;
  background-color: #4d68796f;
}
.projectBackContainer {
  width: 300px;
  height: 320px;
  background-color: var(--med);
  position: relative;
  bottom: 150px;
  left: 200px;
  z-index: -0.8;
}
.projectTitle {
  display: flex;
  padding: 30px 0 20px 0;
  font-family: "Loura";
}
.projectLink {
  color: var(--dark);
  text-decoration: none;
  position: relative;
  right: 20%;
  font-size: 50%;
  font-family: "Loura";
}
.projectLink:hover {
  transition-duration: 500ms;
  /* color: #b5c0e6; */
  color: var(--cream);
}
.buttonLink {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 550px) {
  .beigeBackgd {
    height: 120vh;
  }
  .projectBackContainer {
    left: -100px;
    bottom: -36px;
  }
  .workTextContainer {
    width: 70%;
    margin-bottom: 0;
  }
  .projectContainer {
    position: relative;
    bottom: 35%;
  }
}
