@import url("./Landing.css");
@import url("https://use.typekit.net/pad5lcm.css");
@import url("https://use.typekit.net/pad5lcm.css");
body {
  /* font-family: "Playfair Display", serif;
  /* font-family: "Liber"; */
  /*font-family: 'Lato', sans-serif; */
  
  font-family: "fino", serif;
font-weight: 700;
font-style: normal;
}
:root {
  --brown: #715c54;
  --absent: #1a1919;
  --cream: #f5f1e9;
  --complete: #354449;
}
.aboutHeader {
  height: 100%;
  image-rendering: crisp-edges;
  width: 99%;
  margin-left: 1%;
}
.clayBackground {
  background-color: var(--med);
  background-color: rgb(8,16,19);
  color: rgb(235, 230, 219)
}
.aboutContainer {
  /* height: 200vh; */
  display: flex;
  color: var(--complete);
}
.aboutInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}
.nameAndQuick {
  margin-top: 10%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  width: 99%;
  margin-left: 1%
}
.nameAndQuick ul{
  width: 500px;
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  /* color: rgb(8,16,19); */
}
.nameAndQuick ul li{
  margin: 7px 0;
  font-size: 25px;
  font-family: "heimat-didone-14", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(235, 230, 219)

}
.buttonContainer {
  width: 20%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--absent);
}

button {
  padding: 10px;
  color: #4d6879;
  font-size: 25px;
  border-radius: 30px;
  font-family: "Liber";
  border-color: #d4dde0;
  background-color: #d4dde0;
}
button:hover {
  transition-duration: 0.5s;
  color: #d4dde0;
  background-color: #4d6879;
}

@media screen and (max-width: 1024px) {
  .BioTitle {
    font-size: 400%;
  }
}
@media screen and (max-width: 768px) {
  .aboutContainer {
    height: fit-content;
  }
  .BioTitle {
    font-size: 300%;
  }
  .middle {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .factContainer {
    flex-direction: column;
    text-align: center;
  }
  .experienceContainer {
    height: 120%;
  }
  .bottom {
    padding-top: 10%;
  }
}
@media screen and (max-width: 425px) {
  /* .BioTitle {
    width: 75%;
  }
  .middle {
    flex-direction: row;
  }
  .factContainer {
    margin: 50% 0 20% 0;
    width: 85%;
  }
  .experienceContainer {
    width: 85%;
    margin-bottom: 10%;
  }
  .skillsContainer {
    width: 85%;
  } */
  /* .bottom {
    flex-direction: column;
  }
  .shoutOutContainer {
    width: 85%;
    margin-top: 210%;
  } */
  .nameAndQuick ul li{
    font-size: 20px;
    width: 350px;
  }

  .buttonContainer {
    width: 50%;
    margin-top: 10%;
    left: 20%;
    position: relative;
  }
  .chipContainer {
    /* height: 300px; */
    width: 300px;
  }
}
@media screen and (max-width: 375px) {
  .myPhoto{
    margin-top: 30px;
    width: 235px;
  }
  .shoutOutContainer {
    width: 90%;
    margin-top: 270%;
  }
}

@media screen and (max-width: 320px) {
  .BioTitle {
    width: 52%;
    font-size: 190%;
  }
  .myPhoto {
    margin-top: 10%;
    width: 224px;
  }
  .shoutOutContainer {
    width: 85%;
    margin-top: 310%;
  }
  .buttonContainer {
    width: 60%;
    margin-top: 10%;
    left: 20%;
    position: relative;
  }
}
