.contactBackground {
  background-repeat: no-repeat;
  background-color: #efebe0;
}
.contactContainer {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  color: var(--absent);
}
.contactTitle {
  color: var(--absent) !important;
  font-size: 50px;
}
.contactOuterDiv {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  color: var(--cream);
}
.logoTitle {
  width: 100%;
  text-align:center ;
}
.listNone {
  list-style-type: none;
  padding-top: 2%;
}
.contactLinks {
  font-size: 20px;
  font-weight: 400;
  color: var(--absent);
  text-decoration: none;
  text-align: center;
}
.contactLinks:hover {
  text-decoration: underline;
}
.QRcodes {
  width: 300px;
}
@media screen and (max-width: 768px) {
  .contactContainer {
    position: relative;
    bottom: 705px;
  }
  .logoTitle {
    transform: scale(0.9);
  }
  .QRcodes {
    transform: scale(0.6);
  }
}
@media screen and (max-width: 425px) {
  .nav {
    position: relative;
    top: 10%;
  }
  .contactBackground {
    /* background-color: #efebe0; */
    height: 180vh;
    /* background-size: 300%; */
  }
  .contactContainer {
    margin-top: 600px;
    display: flex;
    flex-direction: column;
  }
  .logoTitle {
    transform: scale(0.7);
  }
  .QRcodes {
    position: relative;
    transform: scale(0.6);
  }
}
@media screen and (max-width: 375px) {
  .contactContainer{
    display: flex;

  }
  .logoTitle {
    transform: scale(0.4);
  }
  .listNone{
    position: relative;
    bottom:170px;
    left: 40px;
  }
}
