.contactBackground {
  background-image: url("../images/forest_interior_with_a_painter\,_civita_castellana_1994.52.3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 25%;
  background-color: rgba(251, 251, 251, 0.556);
  height: 35%;
  padding: 2%;
  color: var(--absent);
}
.contactTitle {
  color: var(--absent) !important;
}
.contactOuterDiv {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  color: var(--cream);
}
.contactSubTitle {
  display: flex;
  padding-top: 2%;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 27px;
  font-family: "L";
}
.listNone {
  list-style-type: none;
  padding-top: 2%;
}
.contactLinks {
  font-size: 20px;
  font-weight: 400;
  color: var(--absent);
  text-decoration: none;
}
.contactLinks:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .contactBackground {
    background-size: 120%;
  }
  .contactContainer {
    margin-top: -35%;
  }
}
@media screen and (max-width: 425px) {
  .nav {
    position: relative;
    top: 10%;
  }
  .contactBackground {
    background-size: 300%;
  }
  .contactContainer {
    position: relative;
    top: 50%;
    height: 70%;
    width: 60%;
  }
}
@media screen and (max-width: 320px) {
  .contactBackground {
    width: 500%;
    height: 400vh;
    background-size: 100%;
    background-image: url("../images/woman_standing_by_a_tree_1970.17.67.jpg");
  }
  .contactContainer {
    top: 250%;
    font-size: 400%;
    height: 120%
  }
}
