@import "./fonts/fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,500&display=swap");

:root {
  --dark: #715c54;
  --cream: #f5f1e9;
  --complete: #354449;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.beigeBackgd {
  height: 100vh;
  background-color: rgb(251, 251, 251);
}
.vanGoughBackground {
  position: relative;
  background-image:url("../images/water.jpg") ;
  background-size: cover;
  image-rendering: crisp-edges;
}
.landingContainer {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  color: var(--absent);
  justify-content: space-around;
  align-items: flex-end;
}
.introContainer {
  display: flex;
  padding-bottom: 20%;
  flex-direction: column;
  width: 25%;
  font-family: "Playfair Display", serif;
}
.landingLogo{
  border-radius: 300px;
  transform: scale(1);
  margin-bottom: 30px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.beigeHighlight {
  background-color: rgba(251, 251, 251, 0.856);
  width: fit-content;
  padding: 1%;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5)
}
.linkContainer {
  padding-bottom: 10%;
}
.linkLanding {
  text-decoration: none;
}
.landingLink:hover {
  /* transition-duration: 3s; */
  text-decoration: underline;
  transition: text-decoration 2s ease;
}
.landingLink {
  color: var(--absent);
  font-size: 600%;
  font-weight: 700;
  font-family: "Bondoni";
  color: rgba(251, 251, 251, 0.856);
}
@media screen and (max-width:425px) {
  .landingLink{
    font-size: 480%;
  }
  
}
@media screen and (max-width:320px) {
  .landingLink{
    font-size: 387%;
  }

}