@import url("./Landing.css");
:root {
  --med: #b97a63;
}
.nav {
  display: flex;
  height: 100vh;
  margin-left: 3%;
  flex-direction: column;
  justify-content: space-around;
  
}
.innerNav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2%;
  height: 30vh;
  width: 120%;
  justify-content: space-around;
  background-color: rgba(251, 251, 251, 0.556);
  position: relative;
  top: -30%;
}
.line {
  width: 1px;
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 80px;
}
.navLink {
  color: var(--med);
  font-weight: 400;
  font-size: 15px;
}
.leftlink {
  padding: 5px;
  color: var(--med);
  text-decoration: none;
}
.leftlink:hover {
  text-decoration: line-through;
}
@media screen and (max-width: 570px) {
  .nav {
    height: 56vh;
  }
  .innerNav {
    flex-direction: row;
    height: 10vh;
  }
}
