.project01LandingBeigeBkgrd {
  background-color: var(--absent);
}
.ProjectContainer {
  display: flex;
}
.projectTitle {
  display: flex;
  justify-content: center;
  font-family: "Bondoni";
  font-size: 400%;
  color: var(--med);
  position: relative;
  padding-top: 10%;
}
.projectShortBlurb {
  font-size: 160%;
  text-align: center;
  color: var(--cream) !important;
  /* font-family: "L"; */
}
.linksToProjectContainer {
  display: flex;
  justify-content: center;
}
.linksToProject {
  font-size: 30px;
  text-decoration: none;
  color: var(--cream);
  margin: 30px 100px 0 100px;
  font-weight: 800;
}
.linksToProject:hover {
  transition: ease-in-out;
  transition-duration: 2s;
  text-decoration: line-through;
}
.projectSubTitle {
  font-size: 35px;
  color: var(--cream);
  font-weight: 1400;
  font-family: "Woman";
}
.projectDescription {
  width: 95%;
  font-weight: 600;
  line-height: 200%;
  font-size: 20px;
  text-align: center;
  margin: 5px 0 5px 0;
  color: var(--cream) !important;
}
.projectButton {
  display: flex;
  justify-content: center;
}
.projectMainImage {
  display: flex;
  justify-content: center;
}
.projectImage{
  width: 50%;
}
.projectLeftImage {
  left: 10%;
  margin-top: 2%;
  display: flex;
  position: relative;
}
.projectRightImage {
  left: 40%;
  bottom: 5%;
  z-index: 2;
  display: flex;
  position: relative;
}
.comingSoonBkgrd {
  height: 100vh;
  background-color: var(--cream);
}
.comingContainer {
  height: 100vh;
  display: flex;
  color: var(--complete);
}
.comingSoon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 30%;
}
.projectButton {
  padding: 0 0 70px 0;
}
@media screen and (max-width: 1200px) {
  .outsideContianer {
    position: relative;
    top: -50%;
  }
}
@media screen and (max-width: 425px) {
  .outsideContianer {
    top: 0;
    width: 85%;
  }
  .nav {
    height: 23vh;
  }
  .project01BigImage {
    transform: scale(0.6);
    left: -10%;
  }
  .projectShortBlurb {
    width: 90%;
  }
  .projectDescription {
    font-size: 17px;
    width: 90%;
  }
  .project01SmallImage01 {
    transform: scale(0.7);
    left: -10%;
  }
  .project01SmallImage02 {
    transform: scale(0.7);
    left: -10%;
    bottom: 4%;
  }
  .project04smallImage01 {
    transform: scale(0.7);
  }
  .project04smallImage02 {
    transform: scale(0.7);
    left: 5%;
    bottom: 4%;
  }
  .linksToProjectContainer{
    margin: 10% 0 ;
  }
  .linksToProject{
    font-size: 20px;
  }
}
@media screen and (max-width:320px) {
  .linksToProject{
    margin: 30px 56px 0 30px;
  }
  .projectButton {
    margin-right: 27px;
  }
}