:root {
  --dark: #715c54;
  --cream: #f5f1e9;
  --med: #b97a63;
  --complete: #263134;
}
.blackBackground {
  background-color: var(--absent);
}
.workContainer {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  color: var(--complete);
  justify-content: space-around;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-image: url("../images/WorkHeader.png");
  background-size: 40%;
}
.workTextContainer {
  right: 1%;
  width: 25%;
  padding: 2%;
  height: 100%;
  border-radius: 3%;
  margin-bottom: 10%;
  position: relative;
  height: fit-content;
  background-color: rgba(251, 251, 251, 0.856);
}
.projectContainer {
  background-color: var(--absent);
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-evenly;
  height: 100vh;
}
.projectTitle {
  width: 100%;
}
.workAnchor {
  text-decoration: none;
}
.projectLink {
  color: var(--cream);
  background-color: var(--absent);
  text-decoration: none;
  position: relative;
  border: 0;
  border-radius: 0;
  width: 600%;
  font-size: 50%;
  font-family: "Bondoni";
  text-transform: Uppercase;
  text-align: end;
}
.projectLink:hover {
  color: var(--absent);
  background-color: var(--cream);
}
.buttonLink {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 768px) {
  .workContainer {
    background-size: 55%;
  }
  .pageTitle {
    font-size: 400%;
  }
}
@media screen and (max-width: 550px) {
  .blackBackground {
    height: 210vh;
  }
  .workContainer {
    background-size: 100%;
  }
  .workTextContainer {
    width: 70%;
    position: relative;
    top: 50%;
  }
  .projectContainer {
    position: relative;
    top: 65%;
  }
}
