:root {
  --dark: #715c54;
  --cream: #f5f1e9;
  --med: #b97a63;
  --complete: #263134;
}
.blackBackground {
  background-color: var(--absent);
}
.workContainer {
  display: flex;
  /* flex-wrap: wrap; */
  color: var(--complete);
  justify-content: space-around;
  align-items: flex-end;
  background-repeat: no-repeat;
}
.workContent{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.workTextContainer {
  /* position: relative;
  height: fit-content; */
  margin-top: 300px;
  
}
.workImage{
  width: 400px;
}
.workText{
  background-color: rgba(251, 251, 251, 0.856);
  padding: 5%;
  width:400px;

}
.projectContainer {
  background-color: var(--absent);
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-evenly;
  height: 100vh;
}
.projectTitle {
  width: 100%;
}
.workAnchor {
  text-decoration: none;
  margin:10px;
}
.projectLink {
  color: var(--cream);
  background-color: var(--absent);
  text-decoration: none;
  position: relative;
  border: 0;
  border-radius: 0;
  width: 600%;
  font-size: 50%;
  font-family: "Bondoni";
  text-transform: Uppercase;
  text-align: end;
}
.projectLink:hover {
  color: var(--absent);
  background-color: var(--cream);
}
.buttonLink {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 768px) {
  .workTextContainer{
    margin-top:200px;
  }
  /* .workImage, .workText {
    width: 400px;
  } */
  /* .workText {
    height:90px;
  } */
  .pageTitle {
    font-size: 400%;
    
  }
}
@media screen and (max-width: 425px) {
  .workTextContainer {
    /* position: relative; */
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
  }
  .workContainer{
    align-items: flex-start;
  }
  .workContent{
    display:block;
  }
  .workText {
    width:290px
  }
  .workImage{
    width: 290px;
    margin-right: 10px;
  }
  .projectContainer{
    width: 100%
  }
}
@media  screen and (max-width: 375px){
  .workText {
    /* margin-right: 62px; */
    width: 258px;
  }
  .projectContainer{
    width: 93%;
  }
}
@media  screen and (max-width: 320px) {
  /* .workTextContainer{
    flex-direction: column;
  } */
  .workImage, .workText {
    width: 220px;
    margin-right: 15px;
  }
}